@import './common/transition.scss';
@import './common/width.scss';
@import './common/flex.scss';
@import './common/element.scss';
:root {
	--bg-color: rgb(241,245,248);
    --hover-color: rgb(137, 133, 192);
}
#app{
    width: 100%;
}
